# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/workspace.xml
Application/Application.iml
Application/build/
androidCamera2Basic.iml
build/
local.properties
